apiVersion: v1
kind: Namespace
metadata:
  name: voting-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: voting-app
  namespace: voting-system
  labels:
    app: voting-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: voting-app
  template:
    metadata:
      labels:
        app: voting-app
    spec:
      containers:
      - name: voting-app
        # Replace <YOUR_DOCKERHUB_USERNAME> with your actual Docker Hub ID
        image: mohneeshdubey2025/voting-app:v6
        imagePullPolicy: Always
        ports:
        - containerPort: 5005
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: voting-service
  namespace: voting-system
  labels:
    app: voting-app
    # This label helps Prometheus discovery if using the kube-stack
    release: kube-stack 
spec:
  type: NodePort
  selector:
    app: voting-app
  ports:
    - protocol: TCP
      port: 80          # The port accessed inside the cluster
      targetPort: 5005  # The port your Flask app is listening on
      nodePort: 31000   # The port you will open in your browser (192.168.56.101:31000)
