apiVersion: v1
kind: Namespace
metadata:
  name: voting-system
---
# 1. REDIS DEPLOYMENT (Shared Memory)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: voting-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: redis:alpine
        ports:
        - containerPort: 6379
---
# 2. REDIS SERVICE (Internal Connection)
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: voting-system
spec:
  type: ClusterIP
  selector:
    app: redis
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
---
# 3. VOTING APP DEPLOYMENT (v100 - Bike Version)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: voting-app
  namespace: voting-system
spec:
  replicas: 2
  selector:
    matchLabels:
      app: voting-app
  template:
    metadata:
      labels:
        app: voting-app
    spec:
      containers:
      - name: voting-app
        # Make sure you pushed this tag as 'v100'
        image: mohneeshdubey2025/voting-app:latest 
        imagePullPolicy: Always
        ports:
        - containerPort: 5005
        env:
        - name: REDIS_HOST
          value: "redis" # Matches Redis Service name
---
# 4. VOTING SERVICE (External Access)
apiVersion: v1
kind: Service
metadata:
  name: voting-service
  namespace: voting-system
spec:
  type: NodePort
  selector:
    app: voting-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5005
      nodePort: 31000
